.bin/
.vs/
node_modules/
backend/build/
bin/
obj/
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
appsettings.Testing.json
appsettings.json
frontend/wwwroot/css/
launchSettings.json
*.pem
target/
key*
key*.*
.vscode/
__pycache__/
test_build/
.env
