################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/frontend/node_modules
/frontend/obj
/frontend/bin/Debug/net7.0
/.vs
/backend/api
/.gitignore
