@page
@model ErrorModel
@{
    ViewData["Page"] = "Errore";
    Layout = null;
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Page"] - Sistema Idrico</title>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

</head>

<body>
    <div style="margin: 1em;">
        <h1 style="color: red">Error</h1>
        <h2>An error occurred while processing your request.</h2>

        <hr style="margin-top: 0.5em; margin-bottom: 1em;">

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>

            <p>
                <b>Error:</b> @ViewData["ErrorMessage"]
            </p>
        }
    </div>
</body>

</html>



