@page
@model frontend.Pages.GestoreIdrico.StoricoVenditeModel
@{
    ViewData["Page"] = "Storico Vendite";
}

<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />

<div style="margin: 1em;">
    <h4>Storico vendite</h4>
    <small>• Vengono visualizzate tutte le offerte d'acqua vendute alle aziende agricole.</small>
    <hr style="margin-top: 0.5em; margin-bottom: 1em;">

    <table class="table">
        <thead>
            <tr>
                <th>ID Offerta</th>
                <th>Partita IVA</th>
                <th>ID Campo</th>
                <th>Quantità venduta</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Acquisti != null || Model.Acquisti.Count!=0)
            {
                @foreach (var acquisto in Model.Acquisti)
                {
                    <tr>
                        <td>@acquisto.IdOfferta</td>
                        <td>@acquisto.PartitaIva</td>
                        <td>@acquisto.IdCampo</td>
                        <td>@acquisto.Quantita</td>
                    </tr>
                }

            }
            else
            {
                <label>Nessuna vendita effettuata</label>
            }
        </tbody>
    </table>
</div>

